body {
    margin: 30px;
    background-color: royalblue;
}

.hidden {
    display: none;
}

.radio_items {
    margin-right: 5px;
    margin-left: 10px;
}

.done {
    display: none;
}

.select {
    position: absolute;
    right: 50px;
}

.buttons {
    margin: 5px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
  }

#carousel {
    position: absolute;
    right: 0;
    top: 0;
}
