body {
    margin: 30px;
}

.hidden {
    display: none;
}

.radio_items {
    margin-right: 5px;
    margin-left: 10px;
}

.done {
    display: none;
}

.select {
    position: absolute;
    right: 50px;
}

.buttons {
    margin: 5px;
}