{% extends "layout.html" %}

{% block title %}SelfServeAdmin{% endblock %}

{% block body %}
    <table>
        <thead>
            <th>Order number</th>
            <th>Customer's name</th>
            <th>Customer's email</th>
            <th>Customer's address</th>
            <th>Customer's table</th>
            <th>Combo number</th>
            <th>Time of order</th>
        </thead>
        <tbody>
            {% for order in orders%}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.table_n }}</td>
                    <td>{{ order.combo }}</td>
                    <td>{{ order.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}