{% extends "layout.html" %}

{% block title %}SelfServeAdmin{% endblock %}

{% block body %}
    <table class='table table-bordered table-hover table-sm w-50'>
        <thead>
            <th>#</th>
            <th>Customer's name</th>
            <th>Customer's email</th>
            <th>Delivery ?</th>
            <th>Customer's location</th>
            <th>Combo number</th>
            <th>Time of order</th>
        </thead>
        <tbody>
            {% for order in orders%}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.delivery }}</td>
                    <td>{{ order.location }}</td>
                    <td>{{ order.combo }}</td>
                    <td>{{ order.time }}</td>
                    <td><button type='button' class='btn btn-success'>Done</button></td>
                    <td><button type='button' class='btn btn-danger'>Dismiss</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}